# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS System Files
.DS_Store
Thumbs.db

# Mobile Builds
*.apk
app-debug.apk

